h2:nth-child(3){
    color: #8a2be2;
}
h2:first-child{
    color: #070bdd;
}
h2:last-child{
    color: coral;
}
h2:nth-child(2n+2){
    color: orange;
}
h2:nth-last-child(even){
    color: red;
}
h2:nth-last-of-type(5){
    color: #08f0f8;
}