/* body{ 
    background-image: url('../img/villege.jpg');
    background-repeat: no-repeat;
    background-position: top center;

    code small and web sit are first
    background: url('../img/villege.jpg') no-repeat top center;
}
*/
.villege{
    width: 450px;
    height: 450px;
    background-image: url(../img/villege.jpg);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    background-attachment: fixed;
}