.box1{
    width: 500px;
    height: 500px;
    background: radial-gradient(#800000,yellow,green ,pink,#8a2be2,#e07d7d);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}